/* Style for single.php, page.php and index.php */

.single-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    column-gap: 2rem;
    background-color: #FFD8A9;
    padding: 6rem;
}

.wp-element-caption {
    font-family: 'Roboto Slab';
    font-style: italic;
}

figure {
    width: 70%;
}

.single-div {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    padding: 2rem 0rem;
}

.single-img {
    width: 25vw;
    max-height: 60vh;
    border: 7px solid #2F1C0B;
    border-radius: 3px;
    box-shadow: 10px 10px 20px #2f1c0c;
}

.single-excerpt {
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.single-excerpt > p {
    font-family: 'Caveat', cursive;
    font-size: 1.75rem;
}

.single-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.single-content > ul > li{
    margin-top: 0.5rem;
}

.single-content > ul > li:first-child {
    margin-top: 0;
}

.link-post-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    padding-top: 3rem;
}

.link-post > a {
    font-size: 1rem;
}

.page-div {
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
}

.page-img {
    max-height: 60vh;
}

/* For competence page (page-74.php) */
.competence-heading-wrapper{
    display: flex;
    flex-direction: column;
}

.competence-list {
    padding-top: 1rem;
    padding-bottom: 6rem;
}

/* For reference page (page-82.php) */

.reference-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.reference-content > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 1rem;
}

@media screen and ( max-width: 850px ) {
    .competence-list {
        padding-bottom: 4rem;
    }
}

@media screen and ( max-width: 650px ) {
    .single-div {
        flex-direction: column;
        padding: 0rem;
    }

    .single-img {
        width: 100%;
        height: 25vh;
    }

    .single-excerpt {
        width: 100%;
    }

    .single-excerpt > p {
        padding: 1rem 0rem;
    }

    .reference-content > ul {
        display: grid;
        grid-template-columns: auto;
    }
    
}